@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url("premium_photo-1668917804965-7e4f9faf4746.png");
  background-repeat: no-repeat;
  background-size: 100% 140vh;
  height: 100vh;
}

.Rastaglion {
  font-family: "Rastaglion", sans-serif;
}

.text-shadow {
  text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.mt-50 {
  margin-top: 110px;
}

.input-margin {
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 15px;
}

.ml-250 {
  margin-left: 250px;
}
.p-250 {
  padding: 100px;
}
